<head>
    <link rel="stylesheet" href="/css/chat.css">
</head>
<% if(locals.user) {%>
<div id="chat-container">
    <div id="chat-body">
        <div class="others-msg">
            <span>Friends message</span>
        </div>
        <div class="self-msg">
            <span>Your message</span>
        </div>
    </div>
    <div id="chat-footer">
        <form>
            <input id="send-msg-input" type="text" placeholder="Type message here..">
            <button id="send-message" type="submit">Send</button>
        </form>
    </div>
</div>
<% } %>