<html>
    <head>
        <title>Codeial</title>
    </head>
    <body>

        <div>
            <form action="/posts/create-post" method="post">
                    <textarea placeholder="What's on your mind.." col="30" rows="3" name="postContent" class="posts-textarea"></textarea>
                    <button type="submit">Post</button>
            </form>
         </div>
         <div>
            <% for(post of posts) { %>
                    <div>
                           <%= post.postContent %>
                    </div>
                    <div>
                            <%= post.user %>
                    </div>
            <% } %>
         </div>
       
    </body>
</html>