<html>
    <head>
        <link rel="stylesheet" href="<%= assetPath('css/signup.css') %>">
    </head>
    <body>
        <div>
            <h1>Login</h1>
        </div>
        <div class="form">
            <form action="\users\create-session" method="post">
                <input type="text" placeholder="Email" name="email" required id="email">
                <input type="password" placeholder="Password" name="password" required id="password">
                <button type="submit">Login</button>
            </form>
            <a href="\users\forgot-password">Forgot Passowrd</a>
        </div>
    </body>
</html>