<html>
    <head>
        <title>COdeial</title>
    </head>
    <body>
        <header>
            Posts header
        </header>
        <h1>Post page is up and running using ejs !!!</h1>
        <footer>
            page footer
        </footer>
    </body>
</html>