body{
    // background-image : url("https://c4.wallpaperflare.com/wallpaper/542/50/545/simple-background-blue-simple-minimalism-wallpaper-thumb.jpg");
   background-image:url("https://c4.wallpaperflare.com/wallpaper/644/305/118/pattern-black-gradient-texture-wallpaper-thumb.jpg");
   
//    background-image : url("https://c4.wallpaperflare.com/wallpaper/654/555/787/geometry-cyberspace-digital-art-lines-wallpaper-thumb.jpg");
   //background-image : url("");
   background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    margin:0px;
    #main-body{
        height:auto;
    }
}