<div>
    <p>Hi <%=comment.user.name %> !!</p>
    <br>
    <br>
    <h1> Your comment <strong><%= comment.commentcontent%></strong> is published succesfully</h1>
    <br>
    <br>
    <p>Thanks</p>
</div>